.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: 100vw 100vh; 
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home-heading {
  font-size: clamp(1.5rem, 4vw, 2.5rem); /* Responsive between 1.5rem and 2.5rem */
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}
.home-para {
  font-size: clamp(1rem, 2vw, 1.25rem); /* Responsive between 1rem and 1.25rem */
  margin-bottom: 2rem;
  line-height: 1.6;
  color: white;
  text-align: left;
}
.home-btn {
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: #3b82f6;
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  width: 260px;
}
.home-btn:hover {
  background-color: #2563eb;
  transition: background-color 0.3s ease;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    text-align: left;
    margin-left: 6%;
    margin-top: -5%;
}